.PlotSelector--tabs, .PlotSelector--tabs-list {
  height: 100%;
}

.PlotSelector--tab-container {
  position: relative;
  height: 100%;
}

.PlotSelector--tab-button {
  height: 100%;
}

.PlotSelector--tab-button--selected {
  // NB: this gets overridden by Mantine's RTL styles, hence the !important hack
  // Have not yet figured out how to change the order in which the styles are applied
  padding-inline-end: 2.25em !important;
}

.PlotSelector--tab-right-button {
  position: absolute !important;  // See note above re: !important
  right: 0.25em;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 100;
  html[dir=rtl] & {
    left: 0.25em;
    right: unset;
  }
}
