.Toolbox--title {
  text-align: center;
  font-size: small;
  opacity: 0.667;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  user-select: none;
}

.Toolbox--tool-info {
  font-size: 14px;
  position: fixed;
  top: 2.5em;
  left: 6em;
}

.Toolbox--tool-title {
  font-weight: bold;
}
