.Toolbox--section-divider {
  height: 1px;
  width: 100%;
  background-color: #0000001a;
  margin: 0.5em 0;
}

.Toolbox--tool-info {
  font-size: 14px;
  position: fixed;
  top: 2.5em;
  left: 6em;
}

.Toolbox--tool-title {
  font-weight: bold;
}
