.TreeView--node {
  cursor: pointer;
}

.TreeView--node rect {
  fill: transparent;
  stroke: none;
}

.TreeView--node:hover rect {
  fill: #eee;
}

.TreeView--node--empty-label text {
  fill: #888;
}

.TreeView--node--selected rect {
  fill: #000000;
  fill-opacity: 0.02;
  stroke: #444;
  stroke-dasharray: 4 4;
  stroke-width: 1;
  animation: marching-ants .75s linear infinite;
}

.TreeView--ghost {
  fill: none;
  stroke: #444;
  stroke-dasharray: 4 4;
  stroke-width: 1;
  opacity: 0.6;
}

.TreeView--marker {
  fill: transparent;
  stroke: #275;
  stroke-width: 2;
  pointer-events: none;
  stroke-dasharray: 140;
  stroke-dashoffset: 140;
  animation: draw 0.4s ease forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.TreeView--tree-area {
  fill: transparent;
  stroke: none;
  cursor: pointer;
}

.TreeView--tree-area:not(.TreeView--tree-area--selected):hover {
  stroke: #275;
  stroke-opacity: 0.5;
  stroke-dasharray: 4 4;
  stroke-width: 1;
}

.TreeView--tree-area--selected {
  fill: #000000;
  fill-opacity: 0.02;
  stroke: #275;
  stroke-dasharray: 4 4;
  stroke-width: 1;
  animation: marching-ants .75s linear infinite;
}

.NodeCreationTriggerClickZone--area {
  cursor: pointer;
  stroke: none;
  fill: transparent;
}

.NodeCreationTriggerClickZone--indicator {
  stroke: #999;
  fill: none;
  pointer-events: none;
  display: none;
}

.NodeCreationTriggerClickZone:hover .NodeCreationTriggerClickZone--indicator {
  display: unset;
}

@keyframes marching-ants {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -8px;
  }
}
