.BeginnersGuide {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100svh;
  padding: 0 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -100;  // The tree may end up overlapping the instruction box - make sure the plot is always on top of it,
                  // otherwise people might not be able to complete the demo!
}
