@import "PlotView";

.LabelNodeEditorInput {
  position: absolute;
  width: 2em;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: $plotViewFontFamily;
  font-size: 16px;
  text-align: center;
  transform: translate(-50%, -50%);
}
