$plotViewFontFamily: 'Times New Roman', Times, serif;

.PlotView-svg {
  position: relative;
  font-size: 16px;
  font-family: $plotViewFontFamily;
  cursor: crosshair;
  user-select: none;
}

.PlotView-placeholder {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
  opacity: 0.5;
  font-family: $plotViewFontFamily;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PlotView--node-label-field {
  position: absolute;
  font-size: 16px;
  font-family: $plotViewFontFamily;
}

.PlotView-selection-box {
  fill: none;
  stroke: gray;
  stroke-width: 1px;
  stroke-dasharray: 4 3;
  transform: translate(0.5px, 0.5px);  // snap to pixel on lower-dpi screens? TODO: demystify
}
