@import "PlotView";

.SentenceView--input {
  position: absolute;
  padding: 0;
  border: 0;
  font-size: 16px;
  font-family: $plotViewFontFamily;

  &:focus {
    outline: unset;
  }

  &.box-selecting {
    z-index: -100;
  }
}
