.TreeView-node {
  cursor: pointer;
}

.TreeView-node rect {
  fill: transparent;
  stroke: none;
}

.TreeView-node:hover rect {
  fill: #eee;
}

.TreeView-node-empty-label text {
  fill: #888;
}

.TreeView-node-selected rect {
  fill: #fafafa;
  stroke: #444;
  stroke-dasharray: 4 4;
  stroke-width: 1;
  animation: marching-ants .75s linear infinite;
}

.TreeView-node-ghost {
  fill: none;
  stroke: #444;
  stroke-dasharray: 4 4;
  stroke-width: 1;
  opacity: 0.6;
}

.NodeCreationTriggerClickZone-area {
  cursor: pointer;
  stroke: none;
  fill: transparent;
}

.NodeCreationTriggerClickZone-indicator {
  stroke: #999;
  fill: none;
  pointer-events: none;
  display: none;
}

.NodeCreationTriggerClickZone:hover .NodeCreationTriggerClickZone-indicator {
  display: unset;
}

@keyframes marching-ants {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -8px;
  }
}
