html {
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v47/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4TbMDrMfIA.woff2) format('woff2');
  unicode-range: U+0000-00FF;
}

.Modal-product-info {
  .mantine-Modal-header {
    background-color: #1a1a1a;
    color: white;
    padding: 2em 1.5em;
    margin-bottom: 1.5em;
    .mantine-Modal-title {
      width: 100%;
      font-size: 1.5em;
    }
  }
}
