html {
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
}

.Modal-product-info {
  .mantine-Modal-header {
    background-color: #1a1a1a;
    color: white;
    padding: 2em 1.5em;
    margin-bottom: 1.5em;
    .mantine-Modal-title {
      width: 100%;
      font-size: 1.5em;
    }
  }
}
