.MainMenu {
  height: 100%;

  .mantine-Button-root {
    border-radius: 0;
    height: 100%;
  }

  .mantine-Menu-dropdown {
    padding: 0;
  }

  .mantine-Menu-item {
    border-radius: 3px;
    padding-block: 0.375em;
  }
}
