.FileIoModal--file-actions {
  visibility: hidden;
}

.FileIoModal--file-row .FileIoModal--new-file-name-input {
  padding: 0;
}

.FileIoModal--file-row:hover .FileIoModal--file-actions {
  visibility: visible;
}
