.GuidedTour {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100svh;
  padding: 0 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* When there is not enough vertical space for the tree under the guide,
   move the guide to the top. */
@media (max-height: 700px) {
  .GuidedTour {
    padding-top: 12vh;
    align-items: flex-start;
  }
}

@media (max-width: 767px) and (pointer: coarse) {
  /* On mobile, add some horizontal padding to the alert to prevent it from
     touching the toolbox or the right edge of the screen. */
  .GuidedTour {
    padding-left: 100px;
    padding-right: 20px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
