.NewVersionModal--changes {
  .menu-icon {
    width: 1em;
    height: 1em;
    transform: translate(-0.5px, 1.5px);
  }

  .toolbox-icon {
    width: 1.5em;
    height: 1.5em;
    margin-top: -0.5em;
    transform: translate(0.5px, 5.5px);
    color: #2b8a3e;
    stroke-width: 1px;
  }
}
