.PlotPlaceholder--container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 10vw;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PlotPlaceholder--alert {
  z-index: 110;
}

/* On mobile, show a message directing users to use a larger screen,
   since the app is heavily mouse-dependent. */
.PlotPlaceholder--mobile-alert-content {
  display: none;
}

@media (max-width: 767px) and (pointer: coarse) {
  .PlotPlaceholder--desktop-alert-content {
    display: none;
  }

  .PlotPlaceholder--mobile-alert-content {
    display: block;
  }

  /* On mobile, add some horizontal padding to the alert to prevent it from
     touching the toolbox or the right edge of the screen. */
  .PlotPlaceholder--container {
    padding-left: 100px;
    padding-right: 20px;
  }
}
